.add-product-box {
  margin-top: 140px;
  margin-left: 20px;
  width: 100%; 
  padding: 20px;
  background-color: #d2e2f3; 
}
  
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px; 
}

.content {
  padding: 24px;
}
  
.site-layout {
  background: #fff;
}
  
.add-product-box h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2rem;
  color: #004765;
}
  
.hr {
  border-top: 3px solid #1b749a; 
  width: 100%;
  margin-bottom: 25px;
}

.ant-card-head-title {
  font-size: 1.5rem;
  color: #004765; /* Adjust color to your preference */
}


.added-products-table .ant-table-tbody > tr:nth-child(odd) > td {
  background-color: #e6e8f4;
  color: #000000;
}

.added-products-table .ant-table-tbody > tr:nth-child(even) > td {
  background-color: #f7f7f7;
  color: #000000;
}

.added-products-table .ant-table-thead > tr > th {
  background-color: #002950;
  color: #ffffff;
}

.add-product-btn {
  height: 40px;
  width: 175px;
  font-size: large;
  background-color: #1766ab;
  font-weight: bold;
  color: #ffffff;
  border: none;
  display: inline-block;
  text-align: center;
  
}

.add-product-btn:hover {
  background-color: #004765; 
  color: #ffffff; 
  cursor: pointer; 
}

.submit-order-btn {
  height: 40px;
  width: 175px;
  font-size: large;
  background-color: #1766ab;
  font-weight: bold;
  color: #ffffff;
  border: none;
  display: inline-block;
  text-align: center;
  
}

.submit-order-btn:hover {
  background-color: #004765; 
  color: #ffffff; 
  cursor: pointer; 
}


  
