.content {
    border-radius: 8px;
    flex: 1;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100%;
  }
  
  .orders-box {
    width: 100%; 
    padding: 20px;
  }
  
  .orders-box h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2rem;
    color: #004765;
  }
  
  .hr {
    border-top: 3px solid #1b749a; 
    width: 100%;
    margin-bottom: 25px;
  }
  
  .orders-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .order-row {
    background-color: #dfffdf93; 
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .order-details {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .order-details p {
    margin: 0 15px; /* Add space between each detail */
    flex: 1; /* Equal width for each item */
  }
  
  .view-details-btn {
    margin-left: auto;
    background-color: #4caf4f85;
    border-color: rgba(0, 0, 0, 0.166);
    color: black;
  }

  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }