.box {
    margin-top: 140px;
    margin-left: 40px;
    width: 96%; 
    padding: 20px;
    background-color: #d2e2f3; 
    margin-bottom: 40px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px; 
}
  
  .search-bar-container {
    display: flex;
    align-items: center;
  }
  
  .content {
    padding: 24px;
  }
  
  .site-layout {
    background: #fff;
  }
  
  .box h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2rem;
    color: #004765;
  }
  
  hr {
    border-top: 3px solid #1b749a; 
    width: 100%;
    margin-bottom: 25px;
  }