.header_ {
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: space-between; /* Space between text and icons */
  padding: 0 35px; /* Add some padding for better spacing */
  height: 75px; /* Adjust the height as needed */
  background-color: #fff; /* Optional: background color */
  /* box-shadow: 0 2px 8px #626465; */ /* Optional: shadow for better separation */
  /* position: fixed;
  width: 100%;
  z-index: 1; */
  
}
