/* header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
   
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
  
  .nav-links a {
    margin: 0 15px;
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #d5e1ed;
    cursor: pointer;
  }
  
  .login-btn {
    margin-left: 20px;
    font-size: 1rem;
  }
  