.ereg {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    position: relative;
}

.header .logo {
    font-size: 2rem;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex: 1; /* Ensures the logo takes up as much space as possible on the left */
    font-weight: 525;
}

.content {
    display: flex;
    flex: 1;
}

.left-side {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
    padding: 20px;
    flex-direction: column;
    position: relative;
    max-width: 50%;
    box-sizing: border-box;
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    padding: 20px;
    max-width: 50%;
    box-sizing: border-box;
}


.main-heading-container {
    position: absolute;
    left: 75px;
    top: 20px;
}

.main-heading {
    margin-bottom: 0;
}

.main-heading .line1,
.main-heading .line2,
.main-heading .line3 {
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.h-description {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    color: gray;
} 

.form-container {
    position: absolute;
    left: 75px;
    width: calc(100% - 75px);
    margin-top: 220px;
}

.form-group {
    margin-bottom: 25px;
}


.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

.submit-button {
    background-color: #000000;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #525252;
}

.registration-image {
    max-height: 80%;
    max-width: 100%;
    object-fit: contain;
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 10%;
}
