.owner-form-container {
    margin: 10px auto;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .owner-form .ant-form-item {
    margin-bottom: 10px;
  }

  .owner-form {
    display: flex;
    flex-direction: column;
  }

  