.main-layout{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
}

.sider-content{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
}

/* .content{
    padding-left: 30px;
    padding-top: 30px;
} */