body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    
}

.register1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    display: flex;
    flex: 1;
}

.left-side {
    flex: 1.25;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
    padding: 20px;
    flex-direction: column;
    position: relative;
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.main-heading-container {
    position: absolute;
    left: 75px;
    top: 20px;
}

.main-heading {
    margin-bottom: 0;
}

.main-heading .line1,
.main-heading .line2,
.main-heading .line3 {
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.h-description {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    color: gray;
}

.form-container {
    position: absolute;
    left: 75px;
    width: calc(100% - 75px);
   
}

.form-group {
    margin-bottom: 4px;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-row .form-group {
    flex: 1;
    margin-right: 40px;
}

.input-row .form-group:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.submit-button {
    
    background-color: #000000;
    color: white;
    padding: 30px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #525252;
}



.registration-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 10%;
}

.footer {
    flex: 0 0 auto; /* Footer takes only the space it needs */
    background: #f8f8f8; /* Example background color */
    padding: 10px;
}
