.register2 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    display: flex;
    flex: 1;
}

.left-side {
    flex: 1.25; /* Adjust the flex value to divide the screen into two parts */
    display: flex;
    justify-content: flex-start; /* Align items to the top */
    align-items: flex-start; /* Align items to the left */
    background-color: #ffffff;
    padding: 20px; /* Add padding for spacing */
    flex-direction: column; /* Stack children vertically */
    position: relative; /* Make the left-side container a relatively positioned container */
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding-top: 15vh; /* Adjust top padding to create space from the header */
    padding-bottom: 15vh; /* Adjust bottom padding to create space from the footer */
}

.main-heading-container {
    position: absolute; /* Make the main-heading-container absolutely positioned */
    left: 75px; /* Adjust the distance from the left edge */
    top: 20px; /* Adjust the distance from the top as needed */
}


.main-heading {
    margin-bottom: 0;
}

.main-heading .line1,
.main-heading .line2,
.main-heading .line3 {
    display: block; /* Ensure each line is on a separate line */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4 rem; /* Adjust font size as needed */
    font-weight: bold;
}

.h-description {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    color: gray;
}

.form-container {
    position: absolute;
    left: 75px; /* Adjusted to 175px from the left */
    width: calc(100% - 75px); /* Adjusted width to ensure it takes remaining space */
    margin-top: 260px; /* Adjusted margin-top as needed */
}

.form-group-2 {
    margin-bottom: 40px;
}


.input-row .form-group-2 {
    flex: 1;
    margin-right: 40px; /* Add margin for spacing between the input boxes */
}

.input-row .form-group-2:last-child {
    margin-right: 0; /* Remove the right margin from the last child */
}

.form-group-2 label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

.form-group-2 input,
.form-group-2 textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.submit-button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #525252;
}

.registration-image {
    height: 75%;
    max-width: 100%;
    object-fit: contain; /* Adjust the image fit as needed */
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 75px;
}


