.dashboard-container {
  display: flex;
  justify-content: center;
  padding: 30px;

}
  .card{
    height: 100%;
    width: 100%;
  }
  
  .statistic .ant-statistic-title {
    font-size: 24px; 
  }
  
  .statistic .ant-statistic-content-value {
    font-size: 24px; 
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 16px;
  }
  
  .card-header .view-all {
    cursor: pointer;
    color: #008000;
    font-weight: 600;
  }

  .item-title {
    font-size: 15px;
  }
  
  .item-description {
    font-size: 14px; 
    color: gray; 
  }
  
  

  