.custom-menu {
  display: flex;
  flex-direction: column;
}

.custom-menu-item {
  font-size: 18px;
  gap: 20px;
  margin-bottom: 15px !important;
}

.custom-menu-item .ant-menu-item-icon {
  font-size: 18px !important;
}
