

.loyalityCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 300px;
    height: 100%;
   padding: 10px;
    border-radius: 10px;
    background-color: #d8f0fa;;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.loyalityCardImageContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;

}

.loyalityCardImage {
    position: relative;
    width: 200px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
   margin-top: 15px;
}

.loyalityCardTitle {
    font-weight: 800;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.loyalityCardDescription {
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color:#373737;
}
.loyalityCardTitleContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
    margin-top: 10px;
}

.loyalityDescriptionText {
    font-weight: 800;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
   
    
}



.loyalityDescriptionButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 40%;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}


.loyalityDescriptionButtonContainer:hover {
    width: 50%;
   
}

.loyalityCardButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 300;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.loyalityCardButton:hover {
    
   
    width: 90%;
}

.chooseText {
    font-family: Arial, Helvetica, sans-serif;
}